.NavBar{
	position: fixed;
	bottom: 20px;
	z-index: 2;
}

.exp{
	position:relative;
	margin-left: 30px;
}

.Rect {
  display: inline-block;
  margin-left: 16px;
  /* margin-top: 20px; */
  width: 80px;
  height: 94vh;
  background: black;
  border-radius: 20px;
  transition-property: width;
  transition-duration: 1s;
}
  
.Circle {
  position: relative;
  left: 2.1vh;
  top: 5vh;
  background: #64d2ff;
  width: 50px;
  height: 50px;
  border-radius: 30px;
}
  
.AccName{
  display:none;
  margin-left: 70px;
  margin-top: 10px;
  font-size: 20px;
  color: white;
}
  
.HomeText{
  display:none;
  margin-left: 70px;
  margin-top: 20px;
  font-size: 20px;
  color: white;
}
  
.Rect:hover {
  width: 240px;
}
  
.Rect:hover .AccName{
  display: inline-block;
}
  
.SettingsText{
  display:none;
  margin-left: 80px;
  margin-top: -35px;
  font-size: 20px;
  color: white;
}
  
.Rect:hover .SettingsText{
  display: block;
}
  
.HomeText{
  display:none;
  margin-left: 80px;
  margin-top: -35px;
  font-size: 20px;
  color: white;
}
  
.Rect:hover .HomeText{
  display: block;
}
  
.BellText{
  display:none;
  margin-left: 80px;
  margin-top: -35px;
  font-size: 20px;
  color: white;
}
  
.Rect:hover .BellText{
  display: block;
}
  
.ShareText{
  display:none;
  margin-left: 80px;
  margin-top: -35px;
  font-size: 20px;
  color: white;
}
  
.Rect:hover .ShareText{
  display: block;
}

.iconHome{
  color: white;
  width: 30px;
  height: 30px;
  margin-top: 15vh;
  margin-left: 1vh;
}
  
.iconBell{
  color: white;
  width: 30px;
  height: 30px;
  margin-top: 7vh;
  margin-left: 1vh;
}
  
.iconShare{
  color: white;
  width: 30px;
  height: 30px;
  margin-top: 7vh;
  margin-left: 1vh;
}
  
.iconSettings{
  color: white;
  width: 30px;
  height: 30px;
  margin-top: 7vh;
  margin-left: 1vh;
}